
body {
  background-color: #085E7D;
  font-family: 'Roboto Serif', sans-serif;
}
.module-box {
  background-color: #FFD32D;
}

a.module-link {
  display: block;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none;
  color: #008E89;
  font-size: 32px;
}